<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="post" action="/new">
        <input type="text" id="name" name="author" placeholder="Author's Name" required>
        <input type="text" id="message" name="message" placeholder="Message" required>
        <button type="submit">SUBMIT</button>
    </form>
  </body>
</html>
